body{
    background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}
.degree{
    font-size: 33px;
    position: relative;
    line-height: 0;
    top: -4rem;
}
.degree-second{
    font-size: 18px;
    position: relative;
    line-height: 0;
    top: -1.8rem;
}
.city-input{
    margin-top: 12rem;
}
.page-title{
    text-shadow: 0 0 2px black;
}
.form-control:focus{
    box-shadow: inherit;
}
.bottom-items{
   
    
    background: rgba(255, 255, 255, 0.334);
    
}
.temp{
    font-size: 7rem;
    text-shadow: 0 0 4px #000;
}
.icon{
    color: white;
    font-size: 5rem;
    
}
.bg-transparent-black{
    background-color: #000000b8;
}
.temp-items-text{
    text-shadow: 0 0 4px #000;
    font-size: 3rem;
}
.location-primary-icon{
    font-size: 2rem;
}
.location-wrapper{
    color: white;
    text-shadow: 0 0 4px #000;
}

.weather-title-data{
    text-shadow: 0 0 4px #000;
    color: #fff;
}
.sunset-data,
.sunrise-data{
    font-size: 2rem;
}
.weather-icon{
    width: 100px;
}
/* Loader */

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pl__arrows {
    animation-name: arrows;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
    transform-origin: 80px 80px;
}

.pl__ring-rotate {
    animation-name: ringRotate;
}

.pl__ring-stroke {
    animation-name: ringStroke;
    transform: rotate(-45deg);
}

.pl__tick {
    animation-name: tick;
}

.pl__tick:nth-child(2) {
    animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
    animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
    animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
    animation-delay: -1s;
}

.pl__tick:nth-child(6) {
    animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
    animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
    animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes ringRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes ringStroke {

    from,
    to {
        stroke-dashoffset: 452;
        transform: rotate(-45deg);
    }

    50% {
        stroke-dashoffset: 169.5;
        transform: rotate(-180deg);
    }
}

@keyframes tick {

    from,
    3%,
    47%,
    to {
        stroke-dashoffset: -12;
    }

    14%,
    36% {
        stroke-dashoffset: 0;
    }
}


#loader{
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .bottom-items {
        margin-top: 150px;

    }
    .city-input {
        margin-top: 10rem;
    }
    .location-wrapper{
        justify-content: center !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bottom-items {
            margin-top: 150px;
    
        }
    }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bottom-items {
        margin-top: 150px;
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bottom-items {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 30px;
    
        }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bottom-items {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 30px;

    }
}

body{
    background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}